* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #111; /* Warna latar belakang gelap */
    color: #fff; /* Warna teks putih */
    background-image: url('/img/gambar1.jpg');
    margin-top: 60px;
  }
  
  header {
    position: fixed; /* Navbar menjadi lengket */
    top: 0; /* Menempatkan navbar di bagian atas */
    width: 100%; /* Navbar mengambil lebar penuh */
    background-color: rgba(34, 34, 34, 1); /* Warna navbar dengan transparansi */
    padding: 20px 0;
    z-index: 1000; /* Menempatkan navbar di atas konten lain */
  }
  
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
      padding: 9px 18px;
      border-radius: 5px;
      transition: all 0.3s ease;
      text-decoration: none;
      color: #fff;
      transition: color 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #1e1d1d; /* Warna teks link sedikit lebih terang saat dihover */
    background-color: #ebe5e5;
    box-shadow: 0 0 20px 5px rgba(0, 0, 118, 0.5);
  }
  
  .menu-toggle {
    display: none;
  }

  #map {
    width: 800px; /* Sesuaikan lebar sesuai kebutuhan */
    height: 400px;
    margin: 0 auto; /* Membuat margin otomatis secara horizontal */
}



.footer {
    background-color: black; /* Warna latar belakang hitam */
    color: white; /* Warna teks putih */
    text-align: center; /* Teks di tengah */
    padding: 20px 0; /* Padding atas dan bawah 20px, padding samping 0 */
}